body{
    background: rgb(87, 31, 31);
    font: normal 15pt Arial;
    color: white
}

header{
    text-align: center;

}

section{
    background: white;
    border-radius: 2vh;
    padding: 2.5vh;
    width: 60vh;
    color: black;
    margin: auto;
    box-shadow: 0.8vh 0.8vh 2vh rgba(0, 0, 0, 0.308);
    
}

#res{
    text-align: center;
}

#tabuada{
    font: normal 10pt Arial;
}

select{
    font: normal 12pt Arial;
}

footer{
    text-align: center;
    font-style: italic;
}
